.header{
    background-color: black;
    text-decoration: solid;
    color: rgb(186, 249, 238);
    text-align: center;
    border-radius: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todoform{
    width: 100%;
    margin:auto;
    margin-top: 25px;
}

.todoinput{
    width: 100%;
    border: 1em;
    height: 100px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1em;
    text-align: center;
    border: 2px solid black;
}
.todobutton{
    
   margin-top: 10px;
    border: 1em;
    height: 50px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1em;
    text-align: center;
    width: 100%;
    background-color: black;
    color: rgb(186, 249, 238);
}
.todoitem{
    width: 50%;
    margin:auto;
    margin-top: 25px;
}
.todoname{
    width: 100%;
    border: 1em;
    height: 35px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1em;
    text-align: center;
    border: 2px solid black;
}